@page "/flowers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using lab02.Models
@using lab02.Database
@implements IAsyncDisposable
@inject IDbContextFactory<lab02.Database.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="flowers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Flowers">
    <PropertyColumn Property="flower => flower.Name" />
    <PropertyColumn Property="flower => flower.Kind" />
    <PropertyColumn Property="flower => flower.AverageHeight" />
    <PropertyColumn Property="flower => flower.LeafType" />
    <PropertyColumn Property="flower => flower.CanBloom" />
    <PropertyColumn Property="flower => flower.Details" />

    <TemplateColumn Context="flower">
        <a href="@($"flowers/edit?flowerid={flower.FlowerId}")">Edit</a> |
        <a href="@($"flowers/details?flowerid={flower.FlowerId}")">Details</a> |
        <a href="@($"flowers/delete?flowerid={flower.FlowerId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
